body  {
  background-image: url("../Pictures/sara_nm.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
h1 {
  position: absolute;
  text-align: center;
}
