body {
  font-family: 'Abel', sans-serif;
  background-color: #1f1f1e;
}

#banner {
  background-color: #dd745f;
  text-align: center;
  font-weight: bolder;
}

#banner2 {
  background-color: #7eb0e3;
  margin-top: -10px;
  height: 30px;
  text-align: center;
  font-weight: bold;
}

#banner3 {
  background-color: #eae1c0;
  margin-top: -10px;
  height: 18px;
}

.card-img-top {
  height: 200px;
}

footer {
  color: white;
}

.card-body {
  margin-bottom: 50px;
  background-color: #2f2f2e;
  color: white;
  opacity: 95%;
}
.card {
  float: left;
  margin: 2%;
  width: 230px;
  height: 365px;
  border-color: #eae1c0;
  margin-bottom: 4%;
  background-color: #2f2f2e;
}

.favorite {
  background-color: #dd745f;
}

#exampleModalLabel {
  background-color: #dd745f;
  font-weight: bolder;
  border-radius: 5px;
}

.modal-body {
  color: black;
}
